@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.scrollbar-custom::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
  height: 6px;
  margin:10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: gray;        /* color of the tracking area */
  width: 2px;                /* width of the tracking area */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}
.scrollbar-custom::-webkit-scrollbar-corner {

}


.table-container {
  max-height: 403px; 
  overflow-y: auto; 
}

td {
  padding: 1rem;
}

th {
  border: 1px solid black;
  background-color: #2E3035;
  color: white;
  box-sizing: border-box;
  padding: 1rem;
  font-weight: 700;
}