@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.external-border {
  border: double 5px transparent;
  border-radius: 9999px;
  width: 695.06px; /* Ajuste conforme necessário */
  height: 695.06px;
  background-image: linear-gradient(transparent, transparent ),
   linear-gradient(180deg, #FAE60A 0%, rgba(255, 255, 255, 0) 94.26%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-attachment: fixed; /* Fixa a imagem de fundo */
  background-size: cover; /* Ajuste conforme necessário para o tamanho desejado */
  background-position: center; /* Ajuste conforme necessário para a posição desejada */

}

.internal-border {
  box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px rgba(255, 255, 255, 0); /* 1px é a largura da borda */
  border-radius: 9999px; /* Um valor grande para obter cantos arredondados "full" */
}